Create the function `get_middle(str)` to return the middle characters from the passed string `str`. If `str` has less than 3 characters then return `str`. If `str` has an odd length then return the middle character. If `str` has an even length return the two middle characters. For example, `get_middle('abc')` returns `'b'` and `get_middle('abcd')` returns `'bc'`.

In [13]:
def get_middle(str):
    num_chars = len(str)
    mid = num_chars // 2
    if num_chars < 3:
        return str
    elif num_chars % 2 == 1:
        return str[mid]
    else:
        return str[mid-1:mid+1]
    
get_middle('abcd')

'd'

Create the function `combine(names, ages)` that takes in two lists, `names` and `ages` and returns a list of strings in the format `"Name: name, age: age"`. For example, `combine(["Claire", "Jennifer"],[23, 19])` would return `["Name: Claire, age: 23", "Name: Jennfier, age: 19"]`.

In [7]:
def combine(names, ages):
    newlist = []
    for i in range(len(names)):
        s = "Name: " + names[i] + ", " + "age: " + str(ages[i])
        newlist.append(s)
    return newlist

combine(["Claire", "Jennifer"],[23, 19])

['Name: Claire, age: 23', 'Name: Jennifer, age: 19']

Create the function `has22(nums)` below to return `True` if there are at least two items in the list `nums` that are adjacent and both equal to `2`, otherwise return `False`. For example, return `True` for `has22([1, 2, 2])` since there are two adjacent items equal to `2` (at index 1 and 2) and `False` for `has22([2, 1, 2])` since the `2`â€™s are not adjacent.

In [9]:
def has22(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 2 and nums[i+1] == 2:
            return True
    return False

has22([2, 1, 2])

False

Create the function `sum13(nums)` to return the sum of the numbers in the list `nums`, returning `0` for an empty list. Except the number 13 is very unlucky, so it does not count and a number that comes immediately after a 13 also does not count. For example, `sum13([13,1,2])` returns `2` and `sum13([1,13])` returns `1`.

In [12]:
def sum_13(nums):
    total = 0
    found_13 = False
    for num in nums:
        if found_13:
            found_13 = False
        elif num == 13:
            found_13 = True
        else:
            total += num
    return total

sum_13([13, 1])

0

Finish the function `upper_center(str)` to return the passed string `str` with the middle character(s) in uppercase. If `str` has less than 3 characters then return `str`. If `str` has an odd length, uppercase the middle character. If `str` has an even length, uppercase the middle two characters. For example, `upper_center('abc')` returns `'aBc'` and `upper_center('abcd')` returns `'aBCd'`.

In [15]:
def upper_center(str):
    mid = len(str) // 2
    if len(str) < 3:
        return str
    if len(str) % 2 == 0:
        return str[:mid-1] + str[mid-1:mid+1].upper() + str[mid+1:]
    else:
        return str[:mid] + str[mid].upper() + str[mid+1:]
    
print(upper_center('abcdefg'))

abcDefg

Write a function `is_descending(nums)` that returns `True` if the numbers in the list `nums` are sorted in descending order and `False` otherwise. If the list `nums` has less than two numbers in it return `True`. For example, `is_descending([2,3,4])` should return `False`, `is_descending([1])` should return `True`, and `is_descending([4,3,2])` should return True.

In [22]:
def is_descending(nums):
    if len(nums) < 2:
        return True
    for i in range(len(nums)-1):
        if nums[i] > nums[i+1]:
            continue
        else: 
            return False
    return True

print(is_descending([4,3,2,1,5]))

False

Fix the `sum67` function below that takes a list of numbers and returns the total of the numbers in the list except for all the numbers whose position is between a 6 and 7 in the list (inclusive). For example, `sum67([1,2])` should return `3` and `sum67([2, 6, 8, 7, 2])` should return `4`

In [17]:
def sum67(nums):
    total = 0               # initialize the total
    found_6 = False         # initialize a Boolean flag
    for num in nums:        # loop through the items in a list
        if found_6 and num == 7:
            found_6 = False # set the Boolean flag to false
        elif num == 6:
            found_6 = True  # set the Boolean flag to True
        elif found_6:
            continue        # go back to the top of the loop
        else:
            total += num    # add num to total
    return total            # return the total

sum67([2, 6, 8, 7, 2])

4

Write a function `olympic(cities, years)` that takes in two lists, `cities` and `years` and returns a list of strings in the format `"City: city, year: year"`. For example, `olympic(["Paris", "London"],[2024, 2012])` would return `["City: Paris, year: 2024", "City: London, year: 2012"]`.

In [1]:
def olympic(cities, years):
    combined_list = []
    for i in range(len(cities)):
        combined_list.append(f"City: {cities[i]}, year: {years[i]}")
    return combined_list

olympic(["Paris", "London"],[2024, 2012])

['City: Paris, year: 2024', 'City: London, year: 2012']